body {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,14,121,1) 55%, rgba(0,131,255,1) 100%);
    color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.05 rem;
   
}



/*-----SECCIÓN MENU-------*/

#menu_principal {
    height: 70%;
    width: 65%;
    margin: auto;
    
}

.menu {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    position: static;
    
}

a {
    text-decoration: none;
}

a,li:hover {
    cursor: pointer;
}

/* ICONOS DEL MENÚ*/

.menu i {
    font-size: 1.4rem;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.3s  ease-in-out;
}

/* ICONOS DEL MENÚ*/

/*-----FIN DE SECCIÓN MENÚ------*/


/*--------SECCIÓN SOBRE MI---------*/

#sobre_mi {
    height: 100vh; /*Cambiar a auto*/
    width: 100%;
}
#card_sobre_mi {
    height: 80vh; /*Cambiar a auto*/
    width: 90%;
    margin:auto;
    margin-top: 5vh; /*Margin top*/
    border-radius: 10px;
    background-color: red;
}
#foto_sergio {
    background-color: aqua;
    height: 50vh;
    width: 100%;
}