body {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,14,121,1) 55%, rgba(0,131,255,1) 100%);
    color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.05 rem;
   
}



/*-----SECCIÓN MENU-------*/

#menu_principal {
    height: 80%;
    width: 80%;
    margin: auto;
    
}

.menu {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    position: static;
    
}

a {
    text-decoration: none;
}

a,li:hover {
    cursor: pointer;
}

/* ICONOS DEL MENÚ*/

.menu i {
    font-size: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.3s  ease-in-out;
}

/* ICONOS DEL MENÚ*/

/*-----FIN DE SECCIÓN MENÚ------*/


/*--------SECCIÓN SOBRE MI---------*/

#sobre_mi {
    height: auto; /*Cambiar a auto*/
    width: 100%;
}
#card_sobre_mi {
    height: 70vh; /*Cambiar a auto*/
    width: 90%;
    margin:auto;
    margin-top: 5vh; /*Margin top*/
    border-radius: 10px;
}
#foto_sergio {
    background: rgba(5, 28, 89, 0.4);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border-radius: 10px;
    border: 1.5px solid rgba(255, 246, 246, 0.837);    
    height: 80vw;
    width: 80vw;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#sergio {
    max-width: 100%;
    height: auto; 
    object-fit: cover; 
    object-position: center center; 
}
#titulo_principal {
    height: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo_principal #tit {
    font-size: 32px;
    color: transparent;
    -webkit-text-stroke: 0.3px #ffffff; /* Borde blanco */
    background: linear-gradient(to right, #82a5cd, #6daadf, #2f9bff, #3187d8, #0b77c0, #0d73e9, #2f91ed, #699dc5, #93b9de, #c3d8ec);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200% 100%;
    animation: gradientAnimation 10s linear infinite;
}


@keyframes gradientAnimation {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}




#titulo_secundario {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
#titulo_secundario #tit2 {
    font-size: 22px;
}


#redes_sociales {
    height: 15%;
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialicon {
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
#card_about {
    height: auto;
    width: 90%;
    margin: auto;
    margin-top: 50vh;
    padding: 20px;
    text-align: justify;
    background: rgba(252, 251, 251, 0.166);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.277);
  
}
#ilustracion_sergio {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
#curriculum_boton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 25px;
}

#botonCurriculum {
    width: auto;
    height: 100%;
    color: white;
    text-decoration: underline;
    font-weight: bold;
    border-radius: 10px;
    max-width: 60%;
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 14px;
    padding: 0.6em 1.5em;
    cursor: pointer;

}
#botonCurriculum:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
    cursor: pointer;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }

/*--------SECCIÓN SOBRE MI---------*/






/*--------SECCIÓN PROYECTOS--------*/
#proyectos_seccion{
    height: auto;
    width: 100%;
    margin-top: 20px;
}
.agrupacion,.agrupacion_educacion {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.agrupacion_educacion {
    margin-top: 20px;
}
.agrupacion_educacion .radio-inputs {
    margin-top: 15px;
}
#proyectos, h3 {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*----SELECT----*/
.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background: rgba(252, 251, 251, 0.166);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.277);
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 50%;
    font-size: 14px;
    height: auto;
   
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .2rem .2rem;
    color: black;
    font-weight: 500;
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #fff;
    font-weight: bold;
  }
/*----SELECT-----*/

#seccion_individual,#seccion_grupal {
    height: auto; 
    width: 100%;
    margin-bottom: 30px;
}

.card_individual {
    height: auto;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    background: rgba(252, 251, 251, 0.166);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.277);
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
}


.cabecera_proy {
    width: 90%;
    height: 100%;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin-top: 15px;
}

.cabecera_proy img {
    border-radius: 10px;
    width: 100%; /* Ajusta el ancho al 100% para ocupar el contenedor */
    height: 100%; /* Ajusta la altura al 100% para ocupar el contenedor */
}

.cuerpo_proy {
    height: auto;
    width: auto;
    margin: 15px;
    font-size: 14px;
}
.tituloDiv {
    font-size: 18px;
}
.descripcion {
    height: auto;
    width: 100%;
    margin-top: 5px;
    text-align: justify;
}

.lenguajes_utilizados {
    height: auto;
    width: auto;
    margin-top: 10px;
    font-weight: bold;
}
.iconos {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: start;
    max-width: 100%;
    margin-top: 5px;
}
.iconos img {
    width: 15%;
    height: 15%;
    min-width: 15%;
    max-width: 15%;
    margin-right: 10px;
}

.botones_live_github button {
    height: 40px;
    width: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 10px;
    text-decoration: none;
    background-color: #333;
    border: none;
    font-size: 14px;
}
.botones_live_github button:hover {
    background-color: #2a2828;
    cursor: pointer;
}

/*--------SECCIÓN PROYECTOS--------*/









/*--------SECCIÓN EDUCACIÓN--------*/
#lenguages,#frameworks,#control_versiones {
    height: auto; /*CAMBIAR A AUTO*/
    width: 100%;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#lenguages h3 {
    height: 50px;
    width: 100%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff; /* Borde blanco */
    background: linear-gradient(to right, #8aafd8, #64abe4, #5aa7f4, #3482db, #014a89);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200% 100%;
    animation: gradientAnimation 10s linear infinite;
}
.lang_container {
    height: auto;
    width: 90%;
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Espaciado uniforme entre elementos */
    cursor: pointer;
}

.container {
    flex-basis: 100%;
    flex-grow: 1; 
    max-width: 110px; 
    max-height: 110px;
    margin: 10px; 
    height: auto;
    width: 20px;
    -webkit-animation: fade-in-bck 1s ease-in-out ;
	        animation: fade-in-bck 1s ease-in-out ;
            background: rgba(252, 251, 251, 0.166);
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 12.5px );
            -webkit-backdrop-filter: blur( 12.5px );
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.277);
    padding: 10px;
        }   
.container img {
    width: 90%;
    height: 90%;
    margin: auto;
}
@-webkit-keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

  #frameworks h3 {
    height: 50px;
    width: 100%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#control_versiones h3 {
    height: 50px;
    width: 100%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*-------SECCION EDUCACION------*/
#educacion {
    height: auto;
    width: 100%;
}
#educacion  h3 {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.educacion_tarjeta {
    height: auto; /*CAMBIAR A AUTO*/
    width: 90%;
    margin: auto;
    margin-top: 30px;
    background: rgba(252, 251, 251, 0.166);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.277);
    margin-top: 5vh;
    margin-bottom: 10vh;

}
.time,.position,.institution,.place {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cabecera {
    height: 35%;
    width: 75%;
    background-color: #f8f9fa;
}
.cuerpo {
    height: auto;
    width: 80%;
    text-align: justify;    
}
.cabecera,.cuerpo { 
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
}
.time {
    color: rgb(0, 55, 255);
    font-weight: bold;
}
.position {
    color: black;
    font-weight: 500;
    margin-top: 5px;
    text-align: center;
}
.institution {
    margin-top: 10px;
    line-height: 0.8;
}
.institution,.place {
    color:#848f99; 
}

/*-------SECCION EDUCACION------*/


/*-------SECCION CONTACTO-------*/

#contacto_seccion {
    height: auto;
    width: 100%;

}
#contacto_seccion h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}
#formulario {
    height: auto;
    width: 90%;
    margin: auto;
    margin-top: 25px;
    padding: 35px;
    

    background: rgba(252, 251, 251, 0.166);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.277);
}
.form-group {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-bottom: 20px;
}
.form-group label {
    margin-bottom: 5px;
}
.form-group input {
    height: 30px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
}
.form-group textarea {
    border-radius: 10px;
    width: 100%;
    height: auto;
    padding: 10px;
}
.botonSubmit {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botonSubmit input {
    height: 80%;
    width: 50%;
    border-radius: 10px;
    border: none;
}
.botonSubmit input:hover {
    cursor: pointer;
}
/*-------SECCION CONTACTO-------*/